@charset "utf-8";
@charset "utf-8";
@use "../common/functions" as *;
@use "../common/variables" as *;
@use "../common/mixins" as *;

.accordion__list {
  background-color: #35924A;
  width: 150px;
  padding: 0;
  color: #fff;
  float: left;
  margin-left: 30px;

  .accordion__sublist:active {
    overflow-y: auto;
  }


    ul {
      height: 0;
      padding: 0;
      overflow: hidden;
      transition: 1s;
      border-top: 1px solid #67a863;
      background-color: #5EAA6C;
      margin: 0;

      li {
        border-bottom: 1px dotted #7FBF8B;
        padding: 10px 0 10px 10px;
        margin-left: 15px;
      }
    }
  }





  .accordionBtn {
  position: relative;
  border: none;
  width: 100%;
  background-color: inherit;
  color: #fff;
  cursor: pointer;
  text-align: left;
  padding: 15px 0 15px 20px;
  font-size: 1em;

  .accordionBtn:hover {
    background-color: #1A5B27;
  }

  .accordionBtn::before,
  .accordionBtn::after {
    content: "";
    position: absolute;
    top: 20px;
    width: 1.5px;
    height: 8px;
    background-color: #fff;
    transition: 0.5s;
  }

  .accordionBtn::before {
    transform: rotate(-45deg);
    right: 35px;
  }

  .accordionBtn::after {
    transform: rotate(45deg);
    right: 30px;
  }
}
